.noUi-connect {
  transform: translate(20%, 0px) scale(0.4, 1);
}
.slider.slider-primary.noUi-target {
  background-color: transparent !important;
}

.slider.slider-primary .noUi-connect,
.slider.slider-primary.noUi-connect {
  background-color: #e14eca;
}

.noUi-target {
  background-color: transparent !important;
}

.noUi-horizontal {
  height: 2px;
}
.font-size1{
  font-size: 1.8em;
  // margin: 10px 15px;
}
.font-size{
  font-size: 0.9rem;
  margin: 10px 15px;
}
.font-add-icon{
    font-size: 10px;
}
.card-stats{
  background-color: #1F2251 !important;
}

.card-chart{
  background-color: #1F2251 !important;
}